/* 
    Document   : ck
    Created on : Nov 17, 2011, 5:20:30 PM
    Author     : myles, gilles
    Description:
        Connected Kitchen site-wide stylesheet.
*/

body            {font-family: cursive;
                 color: #990000;
                 background-color: #EADFBF;
                 font-size: 25px;
}

h2		{text-align: center;
     color: #990000;
}

img		{	
    text-align: center;
    height: 607px;
    width: 394px;
}

.button a:visited {
    color: #CC9900;
}

.button a:link {
    background-color: #990000;
    color: #EADFBF;
    display: block;
    height: 30px;
    width: 195px;
    padding: 5px 0 10px 10px;
    margin-right: 0px;
    margin-bottom: 7px;
    text-decoration: none;
    text-align: center;
    
}

.button a:hover {
    color: #CC9900;
}

.body {
    float: none;
    text-align: center;
    vertical-align: top;
    
}

#click:hover {
    color: #CC6600;    
}

#click {
    background-color: #EADFBF;
    color: #990000;
    font-weight: bold;
    text-align: center;
    }

table	{
    border: 0px;
}

td {
    text-align: center;
    max-width: 195px;
    padding-top: 5px;
}

